@{
    ViewBag.Title = "Sobre";
}

<section class="section about">

    <div class="container pb-5">
        <h3 class="mb-3">@ViewBag.Title</h3>

        <h3>@ViewBag.Message</h3>
    </div>
</section>