<div class="container mt-5">
	<form action="/alterar" method="POST">
        <input type="hidden" name="id" value="{{usuario.dataValues.id}}">
		<div class="form-group">
			<label>Nome</label>
			<input type="text" class="form-control" name="nome" value="{{usuario.dataValues.nome}}">
		</div>
		<div class="form-group">
			<label>Sobrenome</label>
			<input type="text" class="form-control" name="sobrenome"  value="{{usuario.dataValues.sobrenome}}">
		</div>
		<button type="submit" class="btn btn-dark">Enviar</button>
	</form>
</div>