form{
	margin: 0 auto;
	width: 40%;
	padding: 20px;
	border: 1px solid;
	border-radius: 10px;
}

form div{
	margin-top: 10px;
}

label{
	display: inline-block;
	width: 100%;
}

input, select, textarea{
	width: 70%;
	font: 14px sans-serif;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
}

input:focus, select:focus, textarea:focus{
	border-color: #000;
}

form button{
	padding: 15px;
	background-color: blue;
	color: #fff;
	border: 0;
	cursor: pointer;
	border-radius: 5px;
}

form button:hover{
	background-color: darkblue;
}