/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #333;
  border: .05rem solid #333;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;

}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #333;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgb(0 0 0 / 50%);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #333;
  border-bottom-color: #333;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.section2 .imagem{
    height: 500px;
    box-shadow: 2px 2px 5px #aaa;
}

.section2 .imagem1{
  background-image: url(../img/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section2 .imagem2{
  background-image: url(../img/img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section2 .imagem3{
  background-image: url(../img/img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section2 .imagem:hover{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

.section3{
  color: #bfbbbb;
}

.section3 p{
  text-align: justify;
}

.section3, .section4{
  padding: 30px;
}

section.contato p{
  font-size: 25px;
  display: inline;
}

section.contato h3{
  text-align: center;
}

section.contato i{
  font-size: 50px;
  margin-right: 10px;
}

section.contato .fa-telegram{
  font-size: 45px;
}

.section3, footer{
  background-color: #000;
}

footer{
  padding: 30px 30px 90px 30px;
}

footer a{
  display: grid;
  color: #333;
}

footer p{
  margin: 0;
}

footer a:hover{
  color: #333;
}

footer i.fa{
  font-size: 35px;
  margin: 10px;
}

@media only screen and (max-width: 1100px){
  .banner img{
    min-height: -webkit-fill-available;
    background-position: center;
    min-width: 600px;
  }

  .section3{
    padding: 30px 0px;
    /*padding: 30px 0px 30px 0px;*/
  }

  header h3{
    display: none;
  }
}