* {
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: Verdana, sans-serif,
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6{
	text-align: center;
}

section{
	width: 100%;
	float: left;
}

nav{

}

.nav{
	background-color: #80adca;
	width: 100%;
	height: 60px;
	height: 48px;
}

nav .logo{
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;

}


nav a {
	text-decoration: none;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;

}

nav a:hover {
	background-color: #cfe7f3;
}


.container{
	width: 90%;
	margin: 0px auto;
}

.column{
	padding: 15px;
	float: left;
}

.column-3{
	width: 33.3333%;

}

.column-6{
	width: 50%;
}

.column-12{
	width: 100%;
}

main .banner{
	width: 100%;
	height: 596px;
	background-image: url(../img/background1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

main .banner h2{
	color: #fff;
	margin-top: 250px;
	text-shadow: 2px 2px 5px #333;
}

main .banner p{
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 16px;
	margin-top: 40px;
	text-shadow: 2px 2px 5px #333;
}

main .servicos .imagem{
    height: 500px;
    box-shadow: 2px 2px 5px #aaa;
}

main .servicos{
   text-align: center;
}


main .servicos #imagem1{
	background-image: url(../img/img1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

main .servicos #imagem2{
	background-image: url(../img/img2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

main .servicos #imagem3{
	background-image: url(../img/img3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

main .servicos .imagem:hover{
	filter: grayscale(100%);
}

main .quem-somos{
	height: 450px;
	background-image: url(../img/background2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;  
	color: #fff;
}

main .quem-somos h2{
 	margin-top: 100px;
}

main .quem-somos p{
 	margin-top: 100px;
 	text-align: center;
}

footer{
	width: 100%;
	height: 100px;
	background-color: #ddd;
	float: left;
	padding: 50px;
	text-align: center;
}